
.description-store {
    font-family: Arial, "Roboto", sans-serif;
    color:#FFF; 
    display: inline-block;  
    width: 544px;         
}

.description-store > .title {
    font-size: 25px;
    margin-bottom: 60px;
    margin-left: 60px;
}

.description-store > .item {
    font-size: 20px; 
    margin-bottom: 28px;
}

.description-store > .item.-heart{
    position: absolute;       
    transform: translateX(-100%);
    top: 8px;
    left: -47px; 
    cursor: pointer;
}

/*---Explicação: quando tiver um item ativo esse ganhara um comportamento ---*/
.description-store > .item.-active {
    
}


/*----------^^--------------------------------------*/

.description-store > .item.-star{
    margin-bottom: 5px;
    cursor: pointer;
}

/*-----------Interação com o coração Daqui----------*/
 .description-store .icon.-active {
    display: none; 
}  

/*---------------
Quando o item colorido estiver ativo o item transparente 
deve estar oculto */
 .description-store > .item.-active .icon {
    display: none;
 }  
 
/*quando o item colorido estiver ativo esse tera um display block*/
 .description-store > .item.-active .icon.-active {
    display: block;
 }
/*---------^^----------Até aqui--------------*/

 .description-store .star {
     display: inline-block;
 }

 .description-store .star.-active > .icon{
    display: none;
 }


 .description-store .star.-active > .-active{
    display: block;
 }

/*-------------------------------------------------*/

.description-store > .item.-info {
    width: 300px;
    text-align: right;
}

.description-store > .item.-last {
    margin-bottom: 72px;
}


.description-store .contrast {
    text-transform: uppercase; 
    margin-right: 82px;
    float: left; 
}

.description-store > .summary {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;    
}

.description-store > .summary.-more{
    margin-bottom: 0px;
  }

.description-store .action{
    color: inherit;
    text-decoration: none;
    margin-top: 20px;
}
 /* não esta funcioando talves esteja faltando codigo referente a reponsividade */
 @media(max-width: 1254px){
  .description-store > .item.-heart {
     left: auto;
     transform: none;
 }

}
