.photo-product {
    display: inline-block;
    background: #FFF;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    margin-right: 150px; 
    vertical-align: middle;
   
}