header {
    background-color:  #e24647;
    overflow: hidden;
    margin: 0 115px;    
    padding: 55px 60px 95px;  
}

h1, a { 
    color: #FFF;

}

h1 {
    font-size: 40px;
    
}

a {
    text-decoration: none;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

 nav {
    float: right;
    font-size: 21px;

 }